
.HomeiconPlease {
  width: 40px;
  height: auto;
}

.Usericon {
  width: 40px;
  height: auto;
}

.Createicon {
  width: 40px;
  height: auto;
}

.Loginicon {
  width: 40px;
  height: auto;
}

.Registericon {
  width: 40px;
  height: auto;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}